@import 'main.css';
@import 'header.css';
@import 'sidebar.css';

html, body{
    width: 100%;
    height: 100%;
}
div.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}