*{
    margin: 0;
    padding: 0;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 25px;
}
.small_img{
    height: 100%;
    cursor: pointer;
    transition: all linear 0.4s;
}
.small_img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}
.modal_gallery{
    width: 100vw;
    height: 100vh;
    background-color: rbga(0, 0, 0, .7s);
    position: fixed;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.8s linear, opacity 0.5s linear;
}
.modal_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#modal_img{
    width: 40vw;
    transform: scale(0);
    transition: all linear .3;
}
.modal_active #modal_img{
    transform: scale(1);
}
.modal_active{
    visibility: visible;
    opacity: 1;
}
#bt_close{
    color: #fff;
    background-color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    font-size: 25px;
    border: solid 1px #fff;
    cursor: pointer;
    transition: all case-out .4s;
    border-radius: 10px;
}
#bt_close:hover{
    background-color: #f00;
}